body {
font-size: 20 pts;
font-family: 'Courier New', Courier, monospace;
margin: 1.5 cm;

}

tei-del {
    text-decoration: line-through;
    color:bisque;
    display: none;
}

tei-add {
    text-decoration: wavy;
    color:rgb(120, 162, 116);

}
    tei-subst {
    background-color: blueviolet;

}

tei-expan {
    position: relative;
}

tei-del {
    text-decoration: line-through;
    color:bisque; 
}

tei-orig {
    display: none;
}

tei-pc {
    display:block;
}

tei-opener {
    display: block;
}

tei-closer {
    display: block;
}

tei-div {
    display: block;
}

tei-figure {
    display: block;
    text-align:center;
    position: initial;
}

tei-figDes {
    position: absolute;
    border-bottom: 0cap;
    opacity: calc(0);
    z-index: 1000;

}

tei-choice {
    border-color: blanchedalmond;
}

tei-lb::backdrop {
    position: absolute;
    content:attr(New);
    flood-color: brown;

}